
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg01: #1A0B2E;
  --bg02: #230E3D;
  --bg03: #35116566;
  --linear01: liner-gradient(45deg,#F7E93F, #FB09B4, #9100F8);
}
body {
    font-family: "Inter", sans-serif;
}

/* header styles */
header {
  background-color: var(--bg01);
}
 .nav-container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}
.hero-banner {
  background: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
}