
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg01: #1A0B2E;
  --bg02: #230E3D;
  --bg03: #35116566;
  --primary: #00FF88;
}
body {
    font-family: "Inter", sans-serif;
}

/* header styles */
header {
  background-color: var(--bg01);
}
 .nav-container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}
.hero-banner {
  background: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 760px;
  padding: 100px;
}
.hero-circle {
  background: url(./assets/hero-circle.png) no-repeat center / cover ;
  min-height: 350px;
  width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container {
   width: 75%;
   max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  gap: 30px;
  display: grid;
  grid-template-areas: 
    "first second second"
    "first third third"
    "four four five";
}
.features-1 {
  grid-area: first;
}
.features-2 {
  grid-area: second;
}
.features-3 {
  grid-area: third;
}
.features-4 {
  grid-area: four;
}
.features-5 {
  grid-area: five;
}